<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Index Page</title>
        <link rel="stylesheet" href="~/css/Style.css"/>
    </head>

    <body>
        @model LoginViewModel
        <div class="container">
            <a href="/newUser">Need to Register?</a>
            <h1>Login</h1>
            <div class="login">
                <form asp-action="LoginUser" asp-controller="Home" method="POST">
                    <span asp-validation-for="newLogin.loginEmail"></span>
                    <label asp-for="newLogin.loginEmail">Email: </label>
                    <input type="text" asp-for="newLogin.loginEmail">
                    <br>
        
                    <span asp-validation-for="newLogin.loginPassword"></span>
                    <label asp-for="newLogin.loginPassword">Password: </label>
                    <input type="password" asp-for="newLogin.loginPassword">
                    <br>
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>   
    </body>
</html>