body{
    background-image: url("../img/loginpicture.jpg");
   
    width: auto;
    background-size: cover;
}

.header{
    text-align: center;
    margin-top: 20px;
}

.register{
    margin-top: 20px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.firstname, .lastname, .email, .school, .password, .confirmpassword{
    position: absolute;
    right: 35px;
}

.button{
    margin-top: 5px;
}

.schoolblock{
    margin-top: 30px;
    text-align: center;
   
   

}