body{
    background-image: url("../img/loginpicture.jpg");
    text-align: center;
    width: auto;
    background-size: cover;
}

.container{
    margin-top: -50px;
}
.login{
    border: 1px solid black;
    margin: auto;
    width: 30%;
    height: 140px;
    background-color: white;
    opacity: .8;
}

.loginImage{
    height: 350px;
    width: 350px;
}

.newUser{
    position: absolute;
    top: 30px;
    right: 30px;
}

.email{
    margin-top: 15px;
    margin-left: 30px;
}

.button{
    margin-top: 10px;
}